<!-- welcome_page.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags for character set and viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title and stylesheet links -->
    <title>Welcome to ExploreHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-4">ExploreHub</h1>
            <!-- Introduction text -->
            <p class="lead">Welcome to ExploreHub, your gateway to knowledge and discovery!</p>

            <!-- Search form -->
            <form action="{{ url_for('fetch_results') }}" method="GET">
                <!-- Query input field with label -->
                <div class="form-group">
                    <label for="query_input">Enter your queries below and embark on a journey of exploration:</label>
                    <input type="text" class="form-control" id="query_input" name="keywords" placeholder="" required>
                </div>
                <!-- Search button -->
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>

    <!-- Bootstrap and jQuery scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
